.container{
    width: 1240px;
    margin: 0 auto;
}
/* post-header */
.logo{
    height: 52px;
    background-color: red;
    width: 200px;
    background: url("../images/logo.png") -5px -5px;
    background-size: 100%;
}
.post-shortcut{
    height: 52px;
    background-color: #082347;
}
.post-shortcut .container{
    height: 52px;
}
.post-shortcut ul li{
    float: left;
    line-height: 52px;
    color: #ffde59;
}
.post-shortcut ul li a{
    margin: 0 16px 0;
    color: #ffde59;
    font-size: 14px;
}
.post-shortcut li:last-child a{
    margin-right: 0;
}
.post-shortcut .left li:nth-child(1) a{
    margin-right: 0px;
}
.left li:first-child{
    margin-right: 16px;
}
.post-shortcut .right span{
    margin-right: 16px;
}
.ava{
    transition: all 1s;
    margin-right: 5px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
}
.small{
    transition: all 1s;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.big{
    transition: all 1s;
    display: inline-block;
    height: 250%;
    width: 250%;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: -50px;
}
/* 头像小卡片 */
.card{
    height: 120px;
    width: 200px;
    position: fixed;
    right: 402px;
    top: 112px;
    border: 1px solid gray;
    box-sizing: border-box;
    background-color: #082347;
    border-radius: 5%;
    z-index: 99;
}
.card li{
    margin-left: 30px;
    line-height: 30px;
    color: #ffde59;
}
.card li a{
    color:#ffde59
}