.container{
    width: 1240px;
    margin: 0 auto;
}
/* post-header */
.post-shortcut{
    height: 52px;
    background-color: #197551;

}
.post-shortcut .container{
    height: 52px;
}
.post-shortcut ul li{
    float: left;
    line-height: 52px;
    color: #fed03c;
}
.post-shortcut ul li a{
    margin: 0 16px;
    color: #fed03c;
    font-size: 14px;
}
.post-shortcut li:last-child a{
    margin-right: 0;
}
/* post-nav */
.post-nav{
    height: 130px;
    padding-top: 30px;
    box-sizing: border-box;
    width: 1000px;
}
/* logo部分 */
.post-nav .logo{
    width: 70px;
    height: 70px;
    margin-left: 25px;
}
.post-nav .logo a{
    display: block;
    height: 70px;
    background: url('../images/post-logo.png');
    background-size:contain;
    background-repeat: no-repeat;
    font-size: 0;
}
/* 导航模块 */
.post-nav nav li{
    float: left;
    height: 70px;
    line-height: 70px;
    margin:0px 50px 0px;
}
.post-nav nav{
    margin-left: 40px;
}
.post-nav nav a:hover{
color: #27ba9b;
border-bottom: 1px solid #27ba9b;
padding-bottom: 7px;
}
/* 搜索 */
.post-nav .search{
    position: relative;
    width: 172px;
    height: 30px;
    background-color: orange;
    margin-top: 24px;
    margin-left: 34px;
}
.post-nav .search input{
    width: 172px;
    height: 30px;
    border-bottom: 2px solid #e7e7e7;
    padding-left: 31px;
}
.post-nav .search::before{
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 5px;
    left: 2px;
    background: url('../images/sprites.png') -80px -70px;
}
/* 帖子内容模块 */
.post-content {
    margin-top: 50px;
    height: 520px;
    border:3px solid black;
    border-radius: 1%;
}
/* 帖子内容模块 头部*/
.post-content .content-hd{
    height: 115px;
    line-height: 115px;
    margin: 0px 50px 0px
}

.post-content .content-hd h2{
    /* 这里设置height是防止卡列表 */
    height: 115px;
    font-size: 29px;
    font-weight: 400;
}
.post-content .content-hd span{
    font-size: 16px;
    color: #999;
}
.post-content .goods-hd a{
    color: #666;
}
.post-content .content-hd a::after{
    content: '';
    width: 7px;
    height: 13px;
    display: inline-block;
    margin-left: 13px;
    background: url('../images/sprites.png') 0px -110px;
    vertical-align: middle;
}
.post-content .content-list{
    height: 405px;
}
/* 新鲜好物 列表*/
.post-content .content-list li{
    height: 30px;
    margin: 0px 50px 0px;
    line-height: 1;
    border-bottom: 1px solid black;
    display: block;
}
.post-content .content-list li h3{
    height: 40px;
    margin-top: 22px;
    font-size: 20px;
    font-weight: 400;
}
.post-content h2 span {
    font-size: 17px;
    color: gray;
  }
  .post-page{
    margin-top: 20px;
  }
  .post-page ul{
    height: 25px;
    width: 200px;
    margin: 0 auto;    
    vertical-align: middle;
  }
  .post-page li{
      font-size: 25px;
      float: left;
      margin: 0px 3px 0px;
  }
  .post-page li:first-child a{
    width: 39px;
    height: 34px;
  }
  .post-page li:last-child a::after{
    content: '';
    display: inline-block;
    width: 369px;
    height: 324px;
    background:url('../images/jiantou.png') -493px -880px;
    vertical-align: middle;
    zoom: 0.1; 
    }
    .post-page li:first-child a:before{
    content: '';
    display: inline-block;
    width: 369px;
    height: 324px;
    background:url('../images/arrow-left.png') -910px -893px;
    vertical-align: middle;
    zoom: 0.1;
    }
 